.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body{
  text-align: center;
  margin-bottom: 50px;
  width:800px;
}

#submit{
  width:50%;
}

.logo{
  margin-top: 5px;
  margin-bottom: 5px;
}

#list{
  margin-top: 15px;
}

table{
  margin:0 auto;
}
table th{
  border-bottom: solid #33CCCC;
  padding: 10px 0;
}

table td{
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 10px 0;
}

#footer-fix {
  width:100%;
  position:fixed;
  bottom:0;
}
#footer-fix  #footer-fix-menu li {
  display :table-cell;
  /*display: inline-block;*/
  background :#eee;
  padding-right: 5px;
  padding-left: 5px;
  /*padding :0;*/
  height :35px;
  /*position :relative;*/
  vertical-align :middle;
  border: 1px solid #ffffff;
  font-size:13px;
}
#footer-fix  #footer-fix-menu li:hover {
  opacity :0.9;
}

.detail-title{
  margin-top: 10px;
  border: 1px solid #33CCCC;
}

#footer-line{
  margin-top: 50px;
  border: 1px solid #33CCCC;
}

.form-title{
  width: 30%;
  border:none;
}

.form-item{
  width: 70%;
  border:none;
}